<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>j2ep</display-name>
    <listener>
        <description>SSL trust manager overridding</description>
        <listener-class>org.geoint.keyhole.ssl.TerribleTrustManagerInstaller</listener-class>
    </listener>
    
    
    <filter>
        <filter-name>Rewriter</filter-name>
        <filter-class>net.sf.j2ep.RewriteFilter</filter-class>
        <init-param>
            <param-name>dataUrl</param-name>
            <param-value>testData.xml</param-value>
        </init-param>
    </filter>
    <!-- this needs to be more specific, or these filters will catch everything 
        w/o letting the auth filter take a look.  or will the filter chain 
        allow for each of the filters to look at the request/response? -->
    <filter-mapping>
        <filter-name>Rewriter</filter-name>
        <url-pattern>/keyhole</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Proxy</filter-name>
        <filter-class>net.sf.j2ep.ProxyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Proxy</filter-name>
        <url-pattern>/keyhole</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>org.geoint.keyhole.test.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
            
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.geoint.keyhole.test.AuthenticationFilter</filter-class>        
    </filter>
    
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/AuthenticationFilter</url-pattern>        
    </filter-mapping>
    <!--security-constraint>
        <display-name>J-Security-Check Authentication</display-name>
        <web-resource-collection>
            <web-resource-name>WRCollection</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Proxy User</role-name>            
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>        
    </security-constraint>
    < login-config>        
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/AuthTest.html</form-login-page>
            <form-error-page>/AuthError.html</form-error-page>
        </form-login-config>               
    </login-config -->
    
</web-app>
